#lbal2{
    position: absolute ;
    left: 80px;
    top: 170px;
}
#res1{
    display: none;
}
#res2{
    display: none;
}
#rem{
    position: absolute;
    right:120px;
    top:220px;
    width: fit-content;
}
#head{
    position: absolute;
    right:180px; 
    top:260px
}
#out1{
    position: absolute;
    right:240px;
    top:280px;
    padding: 10px;
}
#out2{
    position: absolute;
    right:150px;
    top:280px;
    
    padding: 10px;
}