#lbal2{
    position: absolute ;
    left: 135px;
    top: 150px;
}
#res1{
    display: none;
}
#res2{
    display: none;
}
#rem{
    position: absolute;
    right:120px;
    top:220px;
    width: fit-content;
    display: none;
}
#head{
    position: absolute;
    right:160px; 
    top:230px
}
#out1{
    position: absolute;
    right:240px;
    top:260px;
    padding: 20px;
}
#out2{
    position: absolute;
    right:100px;
    top:270px;
    
    padding: 10px;
}
#rmbutton{
    color: rgb(3, 3, 3);
    background-color: #EEEEEE;
    margin-top: 20px;
    padding-right: 140px;
    padding-left: 140px;
  height: 45px;
    border-radius: 16px;
    border: 0px;
    position: relative;
    bottom: -90px;
   margin-bottom: 30px;
}

#lbttn{
    
    position: absolute;
    bottom: -10px;
   
}
#rmtext{
    padding-left: 28px;
    position: relative;
    bottom: 25px;
}

#rmicon{
    position: relative;
    left: -40px;
    bottom: -8px;
}

#field2{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
#titlee{
    position: absolute;
    top: -5px;
    font-size: large;
    font-weight: 500;
}

#toutd{
    
}