#bgrp{
   position: relative;
   height: 60px;
   margin-top: -18px;
  
}

#add-button{
    height: 40px;
border: 2px solid black;

}
#remove-button{
    border: 2px solid black;

    height: 40px;
}