

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
    background: rgb(249,249,249);
    background: linear-gradient(270deg, rgba(249,249,249,1) 0%, rgba(249,199,230,1) 34%, rgba(217,228,245,1) 90%);
    transition: left 300ms ease-out;
    z-index: 1;
  }
  .sidebar.active {
    left: 0;
  }

  .sidebar ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100px;
   background:transparent;
   border: none;
  
   width: 100%;
  
  }
  .sidebar li {
    list-style:armenian;
    display: grid;
    margin-bottom: 20px;
  }
  .sidebar li a {
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #fff;
    background-color: black;
  }

  .hamburger {
    border: none;
    outline: 0;
    width: 60px;
    position: absolute;
    right: -40px;
    top:5px;
    
  }
  
  .hamburger:after,
  .hamburger:before,
  .hamburger div {
    background-color: #fff;
    height: 5px;
    margin: 7px 0;
    border-radius: 3px;
    content: "";
    display: block;
    transition: all 300ms ease-in-out;
  }

  .sidebar.active .hamburger:before {
    transform: translateY(12px) rotate(135deg);
  }
  .sidebar.active .hamburger::after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .sidebar.active .hamburger div {
    transform: scale(0);
  }

/*
  
#bspan{
    position: absolute;
    display: inline-block;
    right: 10px;
    top:14px;
    text-decoration: none;
    background-color: #fff;
    }
    #s1 a{
    padding-right: 20px;
    text-decoration: none;
    text-decoration-color: none;
    color: #ece6e6;
    }
    #s1 :hover{
      text-decoration: dashed underline 2px ;
      
    }
    #s2{
      padding-right: 20px;
      text-decoration: none ;
      
    
    }
    #s2 :hover{
      text-decoration: dashed underline 2px ;
      text-transform: capitalize;
    }
    #s3{
      padding-right: 20px;
      text-decoration: none ;
      
    
    }
    #s3 :hover{
      text-decoration: dashed underline 2px ;
      text-transform: capitalize;
    }
   */