#dbody{

}

#coincontainer{
    
    padding-left: 2;
    padding-right: 2;
    padding-top: .7rem;
    margin-top: 0;
        overflow: hidden ;
  background-color: #E3F6F5;
   
}

#importb{
    display: inline-block;
    position: relative;
width: 100%;
font-family: 'Satoshi', sans-serif;
height:100%;
margin: 0;
border: 2px solid black;
}/*
#importb :hover{
    background-color: black;
    color: aliceblue;
  
}
#importbdialog{
    display: inline-block;
    position: relative;
width: 100%;
font-family: 'Satoshi', sans-serif;
height:100%;
margin: 0;

}*/
#importbdialog :hover{
    background-color: black;
    color: aliceblue;
  
}

#textfield{
    font-family: 'Satoshi', sans-serif;
    text-align: center;
    background-color:#FFFFFF;
   border: 2px solid black;
    border-radius: 5px;
}
#Selectc{
    position: relative;
    align-content: center;
}
#coins{
padding: 1rem;

}