#dbody{

}

#coincontainer{
    
    padding-left: 2;
    padding-right: 2;
    padding-top: .7rem;
    margin-top: 0;
        overflow: hidden ;
  background-color: #e8eafd;
   
}

#importb{
    display: inline-block;
    position: relative;
width: 100%;
background-color: #FFFFFF;
font-family: 'Satoshi', sans-serif;
height:100%;
margin: 0;
border: 2px solid black;
}/*
#importb :hover{
    background-color: black;
    color: aliceblue;
  
}
#importbdialog{
    display: inline-block;
    position: relative;
width: 100%;
font-family: 'Satoshi', sans-serif;
height:100%;
margin: 0;

}*/

#importbdialog{

   background-color: #e8eafd;


}
#importbdialog :hover{
    background-color: black;
    color: aliceblue;
  
}

#textfield{
    font-family: 'Satoshi', sans-serif;
    text-align: center;
    background-color:#FFFFFF;
   border: 1px solid  black;
    border-radius: 5px;
    position: relative;
    bottom: 4px;
   padding: 20px;
}
#Selectc{
    position: relative;
    align-content: center;
    left: 200%;
}

@media screen and (max-width:460px) {
#Selectc{
    position: relative;
    align-content: center;
    left: 100%;
}}


#coins{
padding: 1rem;

}
#muidialog{
    background-color: #e8eafd;
    
}