/*.Title {
  background: #d7d2d2;
  height: 50px;
  text-align: left;
  margin-left: 25%;
  font-size: 1rem;
  width: auto;
}*/

/*
.NavbarItems {
  background: #ececec00;
  height: 50px;
  display:block  ;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  right: 200px;
  text-align: left;
  border-radius: 50px;
  border: solid rgb(246, 64, 64) 2px;
  
}*/
/*
.navbar-logo {
  color: rgb(0, 0, 0);
  justify-self: start;
  margin-left: 0px;
  cursor: pointer;
}
*/
.logo {
  width: 230px;
 
}
img{
  padding-left: 25px;
  padding-top: 2px;
}
#menui{
  margin-left: -2%;
  padding-top: 16px;
  size-adjust: 4px;
  max-width: 10px;
}
/*
.nav-menu {
  display:grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 80px;
  list-style: none;
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 8rem;
  font-size: 25px;
  background-color: rgb(87, 87, 87);
 height: auto;
 border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
}*/
/*
.nav-links {
  color: rgb(210, 210, 210);
  text-decoration: none;
  border-right-width: 20px;
  background-color: rgba(59, 59, 59, 0);
  border-radius: .4rem;
  padding: 0%;
  display: block;
  margin: 0%;
}*/
/*
.nav-links-clicked {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
 
  border-radius: 20px;
}
*//*
.nav-links:hover {
  display: block;
  color: rgb(24, 24, 24);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  right: 50px;
  transition: all 0.4s ease-out;
  background-color: #bc2323;
}*/


ul{
  position:absolute;
  bottom: 9%;
  padding: 0;
margin-left: 45%;
 width: max-content;
  background-color: #f3eaeaa7;
  border-radius: 16px;
  font-family: 'Satoshi', sans-serif;
  font-size: large;
  display: block;
  size: 30%;
  border: 2px solid black;
  
}
li {
  position: relative;
  display: inline-block;
   text-decoration: none;
  border-radius: 16px;
 
 }
 
 li a {
   
   display: block;
   color: rgb(24, 24, 24);
   text-align: center;
   padding: 14px;
   text-decoration: none;
  border: none;
   border-radius: 16px;
   height: max-content;
 
 
 }
 li a:hover {
  background-color: rgb(255, 241, 241);
  color: black;
  border-radius: 16px;
}

@media screen and (max-width:460px) {


ul {
  
  list-style-type: none;
 padding: 0;
  position:fixed;
  bottom: 9%;
 margin-left: 38%;
width: max-content;
  background-color: #f3eaeaa7;
  border-radius: 16px;
  font-family: 'Satoshi', sans-serif;
  font-size: large;
  display: block;
  border: 2px solid black;

  margin-bottom: 50px;
}

li {
 position: relative;
 display: inline-block;
  text-decoration: none;
 border-radius: 4em;
 text-align: center;
 padding: 0;

}

li a {
  
  display: block;
  color: rgb(24, 24, 24);
  text-align: center;
  padding: 6px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  position: relative;
  
  

}
li :active{
  display: block;
  color: rgb(24, 24, 24);
  text-align: center;
  padding: 6px;
  text-decoration: none;
 
  border-radius: 16px;
  background-color: rgb(255, 241, 241);
  height: max-content;
}


li a:hover {
  background-color: rgb(255, 241, 241);
  color: black;
  border-radius: 16px;
  height: max-content;
}
}
#bspan{
position: absolute;
display: inline-block;
right: 10px;
top:14px;
text-decoration: none;
}
#s1 a{
padding-right: 20px;
text-decoration: none;
text-decoration-color: none;
color: #000000;
}
#s1 :hover{
  text-decoration: dashed underline 2px ;
  
}
#s2{
  padding-right: 20px;
  text-decoration: none ;
  

}
#s2 :hover{
  text-decoration: dashed underline 2px ;
  text-transform: capitalize;
}
#s3{
  padding-right: 20px;
  text-decoration: none ;
  

}
#s3 :hover{
  text-decoration: dashed underline 2px ;
  text-transform: capitalize;
}

#menui{
  position: absolute;
  width: 10%;
  color: #eeeeee;
}

