

#pback{

     position: relative;
     
     background: linear-gradient(45deg ,#5472eb, #A9FFFD,  #367fdb, #A760FF, #FF80B0);
  padding: 3px;
  border-radius: 15px;
    bottom: 200px;
    
 
    width: fit-content ;
    margin-top: 380px;
}
#paperr{
    background-color:#F9F9F9;
    position: relative;
   border: 2px solid black;
    
    text-align: center;
}

#smalltxt{
    font-size: 10px;
    position: relative;
    left: 0px;
    color: rgb(14, 14, 14);
}
a{
    text-decoration: none;
    border-bottom:1px dashed black ;
    text-decoration-color: black;

}


img
{

width: 130px;
margin-left: -10px;

}
#bold{
font-size: larger;
font-weight: 500;

}

#instr{
   font-size: medium; 
}
@media screen and (max-width:460px){
    #instr{
        font-size: small; 
     }


}
    


#dblink
{

    position: relative;
    bottom: -0px;
    left:0px;
    border-radius: 4px;
    padding: 4px;
    background-color: black;
    color: #fff;
    border: 2px solid white;
}
#dblink a:hover
{



    background-color: #fff;
    color: black;
}