#docsb{
 position: relative;
 bottom: -20px;
 left:0px;
 background-color: black;
 color: #fff;
 border: 2px solid white;
}

#paperr{
    background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    position: relative;
    bottom: 200px;
    border: 2px solid rgb(7, 7, 7);
    text-align: center;
}

#smalltxt{
    font-size: 10px;
    position: relative;
    left: 0px;
    color: rgb(14, 14, 14);
}
a{
    text-decoration: none;
    border-bottom:1px dashed black ;
    text-decoration-color: black;

}


img
{

width: 130px;
margin-left: -10px;

}