body {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
position: relative;

  font-size: 15px;
  font-weight: normal;
  font-family: 'Satoshi', sans-serif;

  
}

.outer {
  padding: 10px;
}

.container {
  width: 80%;
  margin: auto;
  border: 5px #362bc9 solid;
  padding: 10px;
 
}

.input {
  width: 1;
  color: #777;
  padding: 8;
  margin: 10;
  width: 200;
}

.myform {
  padding: 20px;
}

.myform input[type="number"],
.myform textarea {
  padding: 8px;
  width: 100%;
}

.column {
  padding: 20px;
  float: left;
  width: 50%;
}

.column_aut {
  padding: 20px;
  float: left;
  width: 33%;
}

.Token_message {
  display: inline;
}

.swap {
  padding: 10px;
}

.swap_button {
  float: right;
}

.markdown {
  width: 80%;
  margin: auto;
}

.logo{
  padding-left: 1rem;
}
.App{
 
  background: rgb(31,31,31);
  background: radial-gradient(circle, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%);
}

#stickyb{
  position:fixed ;
  background-color: #18192d;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 180px;
  margin-bottom: 0px;
  bottom: 0%;
  font-family: 'Satoshi', sans-serif;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

