body {
  background-color: #f9c5d1;
  background-image: linear-gradient(180deg, #f9c5d1 0%, #9795ef 74%);
 
  color: #020202;
position: relative;

  font-size: 15px;
  font-weight: normal;
  font-family: 'Satoshi', sans-serif;

  
}

.outer {
  padding: 10px;
}

.container {
  width: 80%;
  margin: auto;
  border: 5px #362bc9 solid;
  padding: 10px;
  border-radius: 25px;
}

.input {
  width: 1;
  color: #777;
  padding: 8;
  margin: 10;
  width: 200;
}

.myform {
  padding: 20px;
}

.myform input[type="number"],
.myform textarea {
  padding: 8px;
  width: 100%;
}

.column {
  padding: 20px;
  float: left;
  width: 50%;
}

.column_aut {
  padding: 20px;
  float: left;
  width: 33%;
}

.Token_message {
  display: inline;
}

.swap {
  padding: 10px;
}

.swap_button {
  float: right;
}

.markdown {
  width: 80%;
  margin: auto;
}

.logo{
  padding-left: 1rem;
}
.App{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  position: relative; 
 


}

#stickyb{
  position:fixed ;
  background-color: #141214;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 180px;
  margin-bottom: 0px;
  bottom: 0%;
  font-family: 'Satoshi', sans-serif;
  width: 100%;
  color: #ffffff;
  text-align: center;
}